--extra-index-url https://download.pytorch.org/whl/cu121

# cu121 is to meet our nvidia env. you can change it to other versions
# python==3.10
torch==2.2.0
torchvision==0.17.0

timm==1.0.12
diffusers==0.32.1
accelerate
torchdiffeq
pytorch_fid
tensorboard==2.16.2
omegaconf==2.3.0
einops
fairscale
safetensors
pandas
polars
scikit-learn
fastparquet
pyarrow
transformers

# # use for reconstruction evaluation, optional
# torchmetrics 